body {
    margin: 0;
    background-image: linear-gradient(to right, #0C164D, #190B22);
}

.wrapper-first-side {
    display: none;
    position: relative;
    height: 100vh;
}

.wrapper-first-side.show {
    display: flex;
}

#wrapper-text-and-planets {
    width: 100vw;
    display: flex;
    align-items: end;
    flex-direction: column;
}

#header-text {
    margin: 35px;
    text-align: end;
}

.heading-h1 {
    color: #FFFFFF;
    font-size: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: secular one;
}

.heading-h2 {
    color: #FFD029;
    font-family: lora;
    font-size: 24px;
}

#planets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 870px;
    margin-right: auto;
    margin-left: auto;
}

.planet {
    transition: 1.5s;
}

.planet:hover {
    transform: scale(1.4);
}

#sun {
    background-color: #FFD029;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    position: absolute;
    left: -680px;
    box-shadow: 0 0 30px 20px rgba(244, 172, 15, .4);
}

#mercuru {
    background-color: #888888;
    height: 14px;
    width: 14px;
    border-radius: 50%;
}

#venus {
    background-color: #E7CDCD;
    height: 26px;
    width: 26px;
    border-radius: 50%;
}

#earth {
    background-color: #428ED4;
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

#mars {
    background-color: #EF5F5F;
    height: 14px;
    width: 14px;
    border-radius: 50%;
}

#jupiter {
    background-color: #E29468;
    width: 188px;
    height: 188px;
    border-radius: 50%;
}

#saturn {
    background-color: #C7AA72;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    position: relative;
}

#saturnus-ring {
    position: absolute;
    width: 200px;
    height: 9px;
    top: 51%;
    left: -16%;
    transform-style: preserve-3d;
    transform: rotate(145deg);
    border-radius: 10% 30% 50% 70%;
    background-color: #c2ddf2;
    box-shadow: 0 0 30px 20px rgba(247, 246, 243, 0.4);
    background-image: linear-gradient(to right, #d5d9ee, #e7d1f7);
    opacity: 0.8;
}

#uranius {
    background-color: rgb(171, 183, 241);
    width: 66px;
    height: 66px;
    border-radius: 50%;
}

#neptune {
    background-color: #C9D4F1;
    width: 66px;
    height: 66px;
    border-radius: 50%;
}

img {
    height: 35px;
    align-self: center;
}

#sirius {
    height: 3px;
    width: 3px;
    background-color: white;
    opacity: 0.5;
    box-shadow: 0 0 20px 20px rgba(247, 246, 243, 0.4);
    border-radius: 50%;
    margin-right: 50px;
}

#canopus {
    height: 2px;
    width: 2px;
    background-color: white;
    opacity: 0.5;
    box-shadow: 0 0 20px 20px rgba(247, 246, 243, 0.4);
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 90px;
}

#arcturus {
    height: 2px;
    width: 2px;
    background-color: white;
    opacity: 0.5;
    box-shadow: 0 0 15px 15px rgba(247, 246, 243, 0.3);
    border-radius: 50%;
    margin-right: 200px;
    margin-top: 30px;
}

/* ------------------------ OVERLAY -------------------------- */

#overlay {
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #0C164D, #190B22);
}

#overlay.show {
    display: flex;
}

.wrapper-info-side {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
}

.planet-name {
    color: #FFFFFF;
    font-size: 60px;
    font-family: secular one;
    margin: 30px 0px 0px 0px;
    text-transform: uppercase;
}

.latin-name {
    color: #FFD029;
    font-size: 24px;
    margin-top: 10px;
    font-family: lora;
    text-transform: uppercase;
}

.info-side___h3 {
    color: #FFFFFF;
    font-family: secular one;
    margin-top: 0;
}

.info-side___p{
    color: #FFFFFF;
    font-family: Roboto Condensed;
    line-height: 30px;
    font-size: 18px;
}

.info-about-planets {
    padding: 1rem 0;
    flex: 1;
    margin-bottom: 0;
}

.info-about-planets h3 {
    text-align: left;
}

.chart-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.wrapper-of-two {
    display: flex;
    width: 100%;
    margin: 0;
}

#border-box {
    border-top: solid 1px white;
}

.wrapper-of-one {
    width: 100%;
    border-top: solid 1px white;
    padding-top: 30px;
}

button {
    font-family: secular one;
    padding: 10px;
    margin-bottom: 40px;
    color: #0C164D;
}

/* ----- FO0TER -----*/

.wrapper-first-side footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

footer img {
    height: 1.5rem;
}

/* ------- STJÄRNOR --------- */

aside {
    height: 2px;
    width: 2px;
    background-color: white;
}



